$navbar-height: 3.25rem;

.overlay {
  position: absolute;
  top: $navbar-height;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;

  @media screen and (orientation: landscape) {
    display: none;
  }
}

.guide {
  text-align: right;
  padding: .5rem 1rem;
  margin-right: 0.75rem;
}

.announce {
  padding: 5rem 0;
  font-size: 2rem;
  text-align: center;
}