$circle-size: 150px;
$text-height: 38px;

.container {
  display: inline-block;
  position: relative;
}

.text {
  color: #6b778c;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: $circle-size / 2 - $text-height / 2;
  left: 0;
  width: 100%;
}