$koma-width: 56px;
$koma-height: 56px;

.koma {
  // background-color: #fcdda5;
  background-image: url('./Koma.svg');
  font-size: 1.8rem;
  padding-top: 5px;
  font-family: 'Noto Serif JP';
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $koma-width;
  height: $koma-height;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.dragging {
  visibility: hidden;
}

.preview {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.palette {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}